body{
    box-sizing: border-box;
    padding:0px 20px 60px 0px;
     background-color: lightgray;
}


/*search part*/
nav{
    display: inline-block;
    margin:60px 0 0px 200px;

}
nav input{
    height: 20px;
    border-radius: 7px;
}
nav label{
    font-size: 20px;
    margin-left: 10px;
    border-radius: 2px;
}
/*end of search */

/*container of the body*/
.main{
    display: flex;
    columns: 3;
    flex-direction: row;
   
}
/*container of the body*/

/*filter part*/
aside{
    max-width:200vh;
    margin-right: 40px;
}
aside .first-heading h{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: crimson;
}
.filter{
    padding-right: 5px;
}

.filter-headings{
margin-left: 10px;  
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-bottom: 50px 0 50px 0;
padding: 20px 0 10px 0px;
}
.filter .dropdown-1 ul li{
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.filter{
    text-decoration: none;
    color: black;
}
/*type of employment*/
.dropdown-1{
    display:none;
}
.filter .filter-headings:hover .dropdown-1{
    display: block;  
}
.filter .filter-headings:hover .dropdown-1 ul{
    max-width: 200px;
    margin-left: 0px;
    text-align: left;
}
.filter .filter-headings:hover .dropdown-1 ul li{
    padding: 5px;
}
.dropdown-1 ul li{
    margin-bottom: 0;
}
/*end of type of employment*/
/*seniority level*/
.dropdown-2{
    display:none;
}
.filter .filter-headings:hover .dropdown-2{
    display: block;  
}
.filter .filter-headings:hover .dropdown-2 ul{
    max-width: 200px;
    margin-left: 0px;
    text-align: left; 
}
.filter .filter-headings:hover .dropdown-2 ul li{

    padding: 5px;
}
.dropdown-2 ul li{
    margin-bottom: 0;
    list-style-type: none;
}
/*end of seniority level*/
/*salary range*/
.dropdown-3{
    display:none;
}
.filter .filter-headings:hover .dropdown-3{
    display: block;  
}
.filter .filter-headings:hover .dropdown-3 ul{
    max-width: 200px;
    margin-left: 0px;
    text-align: left; 
}
.filter .filter-headings:hover .dropdown-3 ul li{
    padding: 5px;
}
.dropdown-3 ul li{
    margin-bottom: 0;
    list-style-type: none;
}
/*end of salary range*/
/*experience*/
.dropdown-4{
    display:none;
}
.filter .filter-headings:hover .dropdown-4{
    display: block;  
}
.filter .filter-headings:hover .dropdown-4 ul{
    max-width: 200px;
}
.filter .filter-headings:hover .dropdown-4 ul li{
    padding: 5px;
}
.dropdown-4 ul li{
    margin-bottom: 0;
    list-style-type: none;
}
/*end of experience*/
/*end of filter part*/

/*profile search cards*/
main{
    max-width: 100vh;
    margin-top: 40px;
}
main .services{
    display: flex;
    flex-direction: column;
    height: 650px;
    align-items: center;
    justify-content:center;
    overflow-y: scroll;
}
.profiles{
    background-color: white;
    color:black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    padding: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main .services .profiles .icon img{
    width: 30px;
    height: auto;
}
.icon h{
    margin-left: 20px;
    text-decoration: underline;
}
/*end of profile search cards*/
 
/*profile overview*/
.overview{
    background-color: white;
    height: 750px;
    max-width: 80vh ;
    margin-left: 70px;
    overflow-y:scroll;
    position: relative;
}
.overview .overview-image img{
height: 300px;
width: 600px;
border-radius: 10px;
}
.overview .profile-image .fa-user-circle{
height: auto;
position: absolute;
top: 36%;
left:2%;
}
.overview .likes-image .fa-heart{
    position: absolute;
    top:45%;
    right:13%;
    height: 35px;
    width: auto;
}
.overview .heading h{
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.overview p{
font-size: 15px;
margin-left: 50px;
 line-height: 25px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.overview h{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.overview span{
    color: crimson;
}
.overview input{
    float: right;
    border-radius: 5px;
    margin: 0 20px 0 0;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*profile overview*/

/* media queries */
@media all and (max-width:900px){
    body{
        padding: 0;
    }
main{
    max-width: 50vh; 
}
.profiles{
    width: 200px;
    padding: 10px;
}
main{
    margin-top: 70px;
}
.overview{
    height: 650px;
    max-width: 50vh ;
    margin-left: 10px;
    margin-top: 70px;
}
.overview .overview-image img{
height: auto;
width: 200px;
}
.overview .likes-image .fa-heart{
   display: none;
}
.overview .profile-image .fa-user-circle{
display: none;
}


@media all and (max-width:1200px){
  .overview .likes-image img{
   display: none;
}  
}
 /*end of media queries */
